<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="">
	<link rel="stylesheet" href="https://unpkg.com/bulma/css/bulma.css" />
	<link rel="stylesheet" href=" https://use.fontawesome.com/releases/v5.6.1/css/all.css" />
	<title>Components - Global Components Demo</title>
</head>
<body>
	<div id="app">
		<button-counter></button-counter>
	</div>

	<!-- Demo for props -->
	<div id="app2">
		<blog-post title="Hello World"></blog-post>
		<blog-post title="A part of Life"></blog-post>
		<blog-post title="My life has changed"></blog-post>
	</div>
	<!-- End Demo for props -->

	<script src="https://unpkg.com/vue"></script>
	<script src="main.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="../vue.js"></script>
</body>
</html>