<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="">
	<link rel="stylesheet" href="https://unpkg.com/bulma/css/bulma.css" />
	<link rel="stylesheet" href=" https://use.fontawesome.com/releases/v5.6.1/css/all.css" />
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Watcher Demo</title>
</head>
<body>
	<div id="app9">
		<h1>{{name}}</h1>
		<br>
		<div>
			<label>Kilogram</label>
			<input type="number" name="Kilogram" placeholder="Type a weight" v-model="kg">			
		</div>
		<div>
			<label>Gram</label>
			<input type="number" name="Gram" placeholder="Type a weight" v-model="gram">			
		</div>
	</div>
	<script src="https://unpkg.com/vue"></script>
	<script src="./main.js"></script>
	<script src="./vue.js"></script>
</body>
</html>